<!DOCTYPE html>
<html>
<head>
	<title>Chess</title>
	<%= stylesheet_link_tag "compiled/app" %>
	<%= javascript_include_tag :defaults %>

	<%= javascript_include_tag "chess/game.js", "chess/board.js", "chess/ai.js" %>

	<%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<div class="clear"></div>

</body>
</html>
